@model List<ClientModel>;
<div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cin</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adresse</th>
                   <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Numero_téléphone</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Crée En</th>
                 <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modifier En</th>

              </tr>
              </thead>
              <tbody>
                 @foreach (var item in Model)
                        {
                <tr>
                  <td>
                  
                  <div class=" justify-content-center text-center">
                        <h6 class="text-xs font-weight-bold">@item.Cin
                        </h6>
                      </div>
                       
                  </td>
                  <td>
                     <div class=" justify-content-center text-center">
                        <h6 class="text-xs font-weight-bold">@item.nom
                        </h6>
                      </div>
                    
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> @item.adresse</span>
                  </td>
                    <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> @item.num</span>
                  </td>
                   <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> @item.CreatedAt</span>
                  </td>
                    <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> @item.UpdatedAt</span>
                  </td>
                    
                  
                </tr>
           
                        }
              </tbody>
                 
            </table>
          </div>