@{
 var fact = ViewBag.data as List<CouvreplancherModel>;
 double lar = Convert.ToDouble(Context.Session.GetInt32("lar"));
 double Long =Convert.ToDouble(Context.Session.GetInt32("long")) ;
}

@model List<CouvreplancherModel>;
<div class="container text-center mt-5 my-4">


<!--For all screen-->
<div class="page">


  <!--Login & Signup in single row-->
  <div class="row">
  
    
  <!--Column for signin-->
    <div class="col-sm-8 text-center signin">
  
  
      <!-- Default form login -->
      @using (Html.BeginForm("Commande", "Client", FormMethod.Get)){
    <p class="h4 mb-4 text-center signintext top"><strong>Passer votre commande</strong></p>
  
       
  <select class="form-select form-control mb-2" name="idcouvre">
@foreach (var item in Model)
{ <option value="@item.Id_couvre">@item.Nom</option>
}
   

</select>
  <div class="input-group" style="width: 80%;">
     
    <input type="number" class="form-control " name="lar" placeholder="Largeur">
  <input type="number" class="form-control" name="Long" placeholder="Langueur" >
 
       
  </div>
     
    //  <input type="number" class="form-control invisible" name="reduction" placeholder="reduction" >
             
        <button class="btn btn-info btn-block LoginBtn" name="ADemander"  value="1" type="submit" >Commander</button>
  
  
  }
  
    </div>
  
  <!--Column for signin-->
    <div class="col-sm-4 signup text-center">
      <h2 class="HelloFriend">Hello, Friend! </h2>
      <h4 class="SignupText">Enter your personal details<br>and start journey with us</h4>

  
    </div>
  </div>
  </div>
</div>



@if (@Context.Session.GetInt32("ademmander")==1)
{
 @foreach (var item in fact)
{
  <div class="ms-5 me-5 shadow p-3 mb-5 bg-white rounded">
        <h3>Bonjour </h3>
        <p>Informations de votre demande:</p>
        <hr />
        <p> <b>Langueur: @lar </b> pi <b>Largeur: @Long  </b>  pi <b>superficie: @item.CalculSuperficie(Long,lar) </b> pi²</p>
        <p><b>Type de couvre de plancher: @item.Nom</b> </p>
        <h3>Facture: </h3>
        <p><b>Coût des matériaux:</b> @item.CalculHTMateriaux(Long,lar)</p>
        <p><b>Coût de la main d'ouevre:</b> @item.CalculHTMainOeuvre(Long,lar)</p>
        <p><b>Le total Hors taxe: </b> @item.CalculTotalHT(Long,lar)</p>
        <p><b>Taxe sur coût des matériaux: </b> @item.CalculTaxeMateriaux(Long,lar)</p>
        <p><b>Taxe sur coût de la main d'ouevre: </b> @item.CalculTaxeMainOeuvre(Long,lar) </p>
        <h3 class="ms-5 me-5 shadow p-3 mb-5 bg-white rounded"><b>Le total taxes inclus: </b> @item.CalculTotalTTC(Long,lar) DH</h3>
<button type="button" class="btn  btn-infos LoginBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Valider votre Commande
</button>    </div>
} 
}
 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Validation du commande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> 
          @using (Html.BeginForm("Client_info", "Client", FormMethod.Post)){
      <div class="modal-body">
 
    
       <input type="text" class="form-control " name="nom" placeholder="Full Name">
        <input type="text" class="form-control " name="adresse" placeholder="Adresse">
         <input type="tel" class="form-control " name="num" placeholder="telephone">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>}
    </div>
          
  </div>
</div>